<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>발주관련업무: Payment</title>
</head>
<body>
    <div class="topper">
        Payment Page
    </div>
        {% block content %}
        {% endblock content %}

    <div class="sider">
        <button name="insert">
            <ul>발주등록</ul>
        </button>
        <button name="Query">
            <ul>발주조회</ul>
        </button>
    </div>

    <div class="container">
        <div>
            <h2><a href="">1. </a></h2>
            <p>Datet: Jul. 10 2017</p>
            <p>S</p>
        </div>
    </div>

    <div class="footer" id="below-edge">
        주소: 경기도 부천시 조마루로 398길 122 삼보테크노타워 626호 보광산업
        대표자: 오정옥
        사업자번호: 000-000-34579
        TEL: 032-
        FAX: 032-
        E-Mail: info@bkindustry.co.kr
    </div>


</body>
</html>