{% extends "base_Payment.html" %}

{% block content %}
<head>
    <title>발주받은내용입력(수주)</title>
    <meta name="description"
          content="Goal: input order from PDF file
          1. select PDF file
          2. If app can't read PDF then
          3. input manually
          4. In case manual, re-send e-mail to sender, to check it is correct.">
</head>
<body>
    <div>
        insert PDF file

    </div>



    <div>
        or manually input order
    </div>
</body>
{% endblock content %}
